.emailList {
  flex: 1;
  overflow: scroll;
  padding: 0px;
}

.emailList::-webkit-scrollbar {
  display: none;
}

.emailList__settings {
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
  justify-content: space-between;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}

.emailList__list {
  padding-bottom: 20%;
}
